.quoclam {
    padding: 70px 30px 70px 30px;
    margin: 0 auto;
    background-color: #9575cd;
    color: floralwhite;
  }
  
  .row-header {
    margin: 0 auto;
    padding: 0;
  }
  
  .row-content {
    margin: 0 auto;
    padding: 50px 0px 50px 0px;
    min-height: 400px;
    border-bottom: 1px ridge;
  }
  
  .footer {
    background-color: #d1c4e9;
    margin: 0 auto;
    padding: 20px 0px 20px 0px;
  }
  
  .footer address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
  }
  